.riskAssesmentContainder {
    padding: 10px;
}

.rowLayout {}

.columnLayout {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.gridTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
}

.labelAlign {
    font-size: 12;
    font-weight: bold;
    text-align: center;
}